* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: hsl(25, 97%, 53%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-grey: hsl(216, 12%, 54%);
	--clr-light-gray: hsl(217, 12%, 63%);
	--clr-blue: hsl(213, 19%, 18%);
	--clr-background: hsl(216, 12%, 8%);
}

h1 {
	font-size: 1.5rem;
	color: var(--clr-white);
	font-weight: 400;
}

p {
	font-size: 14px;
	line-height: 1.2rem;
}


body {
	height: 100vh;
	width: 100vw;
	font-family: 'Overpass', sans-serif;
	display: grid;
	place-items: center;
	background-color: var(--clr-background);
	color: var(--clr-grey);
}

.main {
	max-width: 23rem;
	height: 23rem;
	border-radius: 1rem;
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
	background-image: radial-gradient(circle at top, var(--clr-blue), #181E28);
}

.thank-you {
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

.--hidden {
	display: none;
}

#result{
	background-color: #2e343f;
	color: var(--clr-primary);
	padding: .4rem .7rem;
	border-radius: 2rem;
}

.icon {
	height: 2.8rem;
	width: 2.8rem;
	border-radius: 50%;
	background-color: #2e343f;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* ----------RADIO------------ */

.radio-wrapper {
	display: flex;
	justify-content: space-between;
}

.radio-button__wrapper,
.radio--style {
	height: 2.8rem;
	width: 2.8rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-button__wrapper {
	position: relative;
}

.radio--style,
#radio-input {
	position: absolute;
	background-color: #272E38;
	transition: all .15s linear;
}

#radio-input {
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
}

#radio-input:checked~.radio--style {
	background-color: var(--clr-grey);
	color: var(--clr-white);
}

#radio-input:hover~.radio--style {
	background-color: var(--clr-primary);
	color: var(--clr-white);
}






/* ----------BUTTON------------ */
.submit-button {
	height: 2.5rem;
	border-radius: 2rem;
	border: 0;
	background-color: var(--clr-primary);
	color: var(--clr-white);
	transition: all .15s;
}

.submit-button:hover {
	background-color: var(--clr-white);
	color: var(--clr-primary);
}